
@{
    ViewBag.Title = "Update";
}

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>

        <form method="post">
            <h2>enter name which you want to edit?</h2>
            <label for="na1">Name</label>
            <input type="text" name="na1" id="na1" />

            <h2>Enter new name :</h2>
            <label for="na2">Name</label>
            <input type="text" name="na2" id="na2" />
            <input type="submit" formaction="/Home/update" value="update" />
        </form>
    </div>
</div>

<h2>@ViewBag.Message1</h2>


