extends layout

block content
    h1 #{title}
    form(method='POST', action='/teachers/add')
        .form-group
            label First Name : 
            input.form-control(name='f_name' type='text')
        .form-group
            label Last Name : 
            input.form-control(name='l_name' type='text')
        .form-group
            label Age : 
            input.form-control(name='age' type='text')
        .form-group
            label Subject : 
            input.form-control(name='subject' type='text')
        input.btn.btn-primary(type='submit', value='Submit')