doctype html
html
    head
        title   simple project
        link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet' href='/css/style.css')
    body
        nav.navbar.navbar-expand-md.navbar-dark.bg-dark
            a.navbar-brand(href='/') Teachers Portal
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarsExampleDefault.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item
                        a.nav-link(href='/')
                            | Home 
                        span.sr-only (current)
                    li.nav-item
                        a.nav-link(href='/teachers/add') Add Teachers
                    
            form.form-inline.my-2.my-lg-0
                input.form-control.mr-sm-2(type='text', placeholder='Search', aria-label='Search')
            button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
        .container
            block content
            br
            hr
            footer
                b 
                    center
                        p Copyright &copy; 2018 , Muhammad Usama Usman
        script(src= '/bower_components/jquery/dist/jquery.js')
        script(src= '/bower_components/bootstrap/dist/js/bootstrap.js')
        script(src= '/js/main.js')