
@{
    ViewBag.Title = "ShowEmployeeData";
}

<h2>ShowEmployeeData</h2>

@{
    var data = ViewBag.nm;
    var data2 = ViewBag.Id;
    var data3 = ViewBag.sal;
}    

<h3> @data</h3>
<h3> @data2</h3>
<h3> @data3</h3>